name: Deployment
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    # Only run if the push is from your GitHub username
    if: github.actor == 'budhitha'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Vercel CLI
        run: npm install -g vercel
      - name: Deploy to Vercel
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          vercel --prod --token $VERCEL_TOKEN --confirm
